/*
 *= stub active_admin
 *= require_tree .
 *= require_self
 *= require ../main
 */

/**********************************************
* Reset
**********************************************/
h1,h2,h3,h4,h5 {
	margin: 0;
}

a {
	text-decoration: none!important;
	color: #555;
}

p {
	margin: 0;
	color: #555;
	line-height: 1.3em;
	font-size: 16px;
}

img {
	width: 100%;
	border: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

table {
	color: #555;
	font-size: 14px;
	word-wrap: break-word;
}


/**********************************************
* Common
**********************************************/
body {
	font-family: 'futura-pt',YuGothic, '游ゴシック','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


/**********************************************
* Global Menu
**********************************************/
.top {
	overflow: hidden;
	height: 60px;
	background: #F9C704;
}

.top_logo {
	float: left;
	width: 180px;
}

.top_logo > a {
}

.top_description {
	float: left;
	margin: 22px 0 0 20px;
	font-size: 14px;
	color: white;
}

.top_menu {
	float: right;
	margin-top: 12px;
}

.top_menu > li {
	float: left;
	position: relative;
	margin-left: 10px;
	padding-left: 10px;
}

.top_menu > li:after {
	content: '/';
	position: absolute;
	right: -14px;
	top: 1px;
	color: white;
	font-size: 16px;
}

.top_menu > li:last-child:after {
	content: '';
}

.top_menu > li > a {
	font-size: 13px;
	color: white;
}


/**********************************************
* Header
**********************************************/
.header {
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: 9999;
	background: #f6f6f6;
}

.header_category {
	overflow: hidden;
	float: left;
	padding: 8px 0;
	border-radius: 6px;
}

.header_category > li {
	float: left;
	margin-right: 20px;
}

.header_category > li:first-child {
	padding-right: 20px;
	border-right: 1px solid #ddd;
}

.header_category > li > a:hover {
	opacity: 0.5;
}

.header_category > li > a > i {
	float: left;
	display: block;
	position: relative;
	top: 5px;
	width: 22px;
	height: 21px;
	text-align: center;
	margin-right: 6px;
	padding-top: 1px;
	font-size: 18px;
	background: #0070d1;
	color: white;
	border-radius: 50%;
}

.header_category > li > a > i.graphic{background:#3498db}
.header_category > li > a > i.digital{background:#27ae60}
.header_category > li > a > i.architecture{background:#e74c3c}
.header_category > li > a > i.fashion{background:#d35400}

.header_share {
	float: right;
	margin-top: 9px;
}

.header_share > li {
	float: left;
	margin-left: 10px;
}

.header_share > li > a > i {
	display: block;
	position: relative;
	top: 5px;
	width: 22px;
	height: 21px;
	text-align: center;
	padding-top: 1px;
	font-size: 18px;
	background: #0070d1;
	color: white;
	border-radius: 50%;
}

.header_share > li > a > i.facebook{background:#315096}
.header_share > li > a > i.twitter{background:#55acee}


/**********************************************
* Main
**********************************************/
.main {
	overflow: hidden;
	margin: 80px 0 40px;
}

.left {
	float: left;
	width: 900px;
}

.gotop {
	cursor: pointer;
	position: fixed;
	right: 40px;
	bottom: 40px;
	color: #777;
	background: white;
	font-size: 38px;
	border: 3px solid #777;
	border-radius: 2px;
}


/**********************************************
* Sidebar
**********************************************/
.sidebar {
	float: right;
	width: 299px;
}

.sidebar_fb {
	border: 1px solid #eee;
}


/**********************************************
* Footer
**********************************************/
.footer {
	background-color: #f6f6f6;
}

.footer_credit {
	padding: 20px 0;
	text-align: center;
	font-size: 12px;
}
