/**********************************************
* Schedule
**********************************************/
.schedule {
	margin: 0 20px 0 0;
	padding: 0 20px 30px 0;
	border-right: 1px solid #eee;
	border-radius: 3px;
}

.schedule_calendar {
	width: 100%;
	background: #f6f6f6;
}

.schedule_calendar tr {
	height: 40px;
}

.schedule_calendar th, .schedule_calendar td {
	border: 1px solid white;
}

.schedule_calendar tr > th:first-child {
	width: 250px;
}

.schedule_calendar tr > td:first-child {
	text-decoration: underline;
	padding: 0 10px;
	overflow: hidden;
}

.schedule_calendar .enable {
	display: block;
	width: 100%;
	height: 8px;
}

.schedule_calendar .enable_graphic{background:#3498db}
.schedule_calendar .enable_media{background:#27ae60}
.schedule_calendar .enable_architecture{background:#e74c3c}
.schedule_calendar .enable_fashion{background:#d35400}
.schedule_calendar .enable_other{background:#0070d1}


/**********************************************
* Index
**********************************************/
.index_text {
	background: #f6f6f6;
	width: 880px;
	padding: 20px 0;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 20px;
}

.index_text > a {
	text-decoration: underline;
}

.index_list {
	overflow: hidden;
}

.index_list li {
	float: left;
	width: 259px;
	padding: 0 20px 40px 0;
	margin-right: 20px;
	border-right: 1px solid #eee;
}

.index_list li a {
	display: block;
}

.index_list_thumb {
	padding: 6px;
	margin-bottom: 3px;
	border-radius: 3px;
	background: #eee;
}

.index_list_thumb img {
	display: block;
}

.index_list li a:hover {
	opacity: 0.7;
}

.index_list_title {
	display: inline;
	color: #555;
	font-size: 18px;
	font-weight: normal;
	line-height: 0;
	background: linear-gradient(transparent 60%, rgba(249, 199, 20, 1) 0%);
}

.index_list_date {
	margin-top: 6px;
	font-size: 13px;
	color: #aaa;
}

.index_list_date i:before {
	font-size:14px;
}

.index_list_date i.icon-map:before {
	font-size:15px;
}

.index_more {
	padding: 10px 0;
	font-size: 16px;
	text-align: center;
	background: #999;
	color: white;
}


/**********************************************
* Show
**********************************************/
.show {
	overflow: hidden;
}

.show > .container {
	width: 980px;
}

.show_left {
	float: left;
	width: 440px;
	margin-right: 30px;
}

.show_left_picts li {
	margin-bottom: 20px;
	padding: 8px;
	background: #eee;
	border-radius: 3px;
}

.show_left_picts li:last-child {
	margin-bottom: 0;
}

.show_left_picts li img {
	display: block;
}

.show_right {
	float: right;
	width: 410px;
	padding-right: 20px;
}

.show_right_title {
	margin-bottom: 20px;
	line-height: 1.3em;
	color: #555;
	font-size: 26px;
	font-weight: bold;
}

.show_right_sns {
	overflow: hidden;
	margin-bottom: 10px;
}

.show_right_sns li {
	cursor: pointer;
	float: left;
	width: 197px;
	padding-bottom: 6px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 18px;
}

.show_right_sns li:hover {
	opacity: 0.6;
}

.show_right_sns li a {
	display: block;
	padding-top: 6px;
	color: white;
}

.show_right_sns li i {
	padding: 0 10px 0 20px;
}

.show_right_sns li i:before {
	font-size: 22px;
}

.show_right_sns.facebook {
	background: #3468af;
	margin-right: 15px;
}

.show_right_sns.twitter {
	background: #55acee;
}

.show_right_body {
	margin-bottom: 20px;
	line-height: 1.6em;
}

.show_right_info {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_info tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_info th {
	width: 80px;
	padding: 10px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4em;
}

.show_right_info td {
	width: 345px;
	padding: 10px 0;
	border-bottom: 1px solid #eaeaea;
	font-size: 16px;
}

.show_right_info td > a {
	word-break: break-all;
	color: #2571BB;
}

.show_right_calendar {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_calendar tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_calendar th {
	width: 110px;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}

.show_right_calendar td {
	width: 365px;
	padding: 10px 5px 10px 0;
	border-bottom: 1px solid #eaeaea;
}

.show_bottom_map {
	margin-top: 40px;
}

/**********************************************
* New
**********************************************/
.new {
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #eee;
}

.new_title {
	display: inline;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: normal;
	background: linear-gradient(transparent 60%, rgba(249, 199, 20, 1) 0%);
}

.form {
	width: 100%;
}

.form tr {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 20px;
}

.form_left {
	width: 180px;
	vertical-align: top;
	font-weight: bold;
}

.form_left p {
	text-align: left;
}

.form_left_tag {
	margin-right: 5px;
	padding: 5px 10px;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_left_tag.required {
	background: #EC4550;
}

.form_left_tag.free {
	background: #488DB8;
}

.form_center {
	width: 640px;
	vertical-align: top;
}

.form_center .error {
	font-size: 16px;
	color: red;
}

.form_uploads li {
	float: left;
	width: 135px;
	padding: 5px;
	background: #f5f5f5;
}

.form_radio li {
	float: left;
	width: 193px;
	margin-bottom: 3px;
}

.form_center_text {
	font-size: 13px;
}

.form_right {
	width: 0px;
}

.form_text {
	display: block;
	width: 550px;
	max-width: 550px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date {
	float: left;
	width: 248px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date_span {
	float: left;
	margin: 10px 3px;
}

.form_date_text {
	clear: both;
}

.form_time {
	width: 220px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	width: 250px;
	max-width: 250px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_free {
	float: left;
	width: 180px;
	margin: 9px 0;
}

.form_free > input {
	margin-right: 10px;
}

.form_free span {
	margin: 0 60px;
}

.form_input_charge {
	display: inline;
	width: 200px;
	margin-right: 5px;
}

.form_check {
	margin-right: 10px;
}

.form_check_link {
	color: #0092ED;
}

.form_submit {
	display: block;
	width: 500px;
	margin: 20px auto 40px auto;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_submit.active {
	cursor: pointer;
	background: #EC4550;
}

.confirm_cancel {
	cursor: pointer;
	float: left;
	display: block;
	width: 200px;
	margin: 20px auto 40px 35px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.confirm_submit {
	cursor: pointer;
	float: left;
	display: block;
	width: 550px;
	margin: 20px auto 40px 30px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #EC4550;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/**********************************************
* Complete
**********************************************/
.posts_complete {
	padding: 140px 0;
}
.posts_complete_title {
	font-size: 50px;
	text-align: center;
	color: #1f2e3f;
}

.posts_complete_border {
	display: block;
	width: 500px;
	margin: 20px auto 40px;
}

.posts_complete_text {
	text-align: center;
}
