/**********************************************
* Index
**********************************************/
.schedule {
	margin: 0 20px 0 0;
	padding: 0 20px 30px 0;
	border-right: 1px solid #eee;
	border-radius: 3px;
}

.schedule_prev {
	float: left;
	margin-top: 10px;
}

.schedule_next {
	float: right;
	margin-top: 10px;
}

.schedule_title {
	margin-bottom: 10px;
	text-align: center;
}

.schedule_calendar {
	clear: both;
	background: #f6f6f6;
}

.schedule_calendar tr {
	height: 40px;
}

.schedule_calendar tr:nth-child(2n) {
  background: #f2f2f2;
}

.schedule_calendar th, .schedule_calendar td {
  width: 22px;
	border: 1px solid white;
}

.schedule_calendar th {
  font-size: 14px;
}

.schedule_calendar th.sunday {color: red;background: rgba(255, 0, 0, 0.05)}
.schedule_calendar th.saturday {color: blue;background: rgba(0, 158, 255, 0.05)}

.schedule_calendar tr > th:first-child {
	width: 250px;
}

.schedule_calendar tr > td:first-child {
  overflow: hidden;
  padding: 14px 10px;
}

.schedule_calendar td.sunday {background: rgba(255, 0, 0, 0.05)}
.schedule_calendar td.saturday {background: rgba(0, 158, 255, 0.05)}

.schedule_calendar a:hover .schedule_calendar_title {
  color: #F9C704;
}

.schedule_calendar_title {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4em;
}

.schedule_calendar_date {
  margin-top: 3px;
  font-size: 11px;
  color: #777;
}

.schedule_calendar_date i:before {
  font-size: 12px;
}

.schedule_calendar_date i.icon-map:before {
  font-size: 13px;
}

.schedule_calendar .enable {
	display: block;
	width: 100%;
	height: 8px;
}

.schedule_calendar .enable_graphic{background:#3498db}
.schedule_calendar .enable_media{background:#27ae60}
.schedule_calendar .enable_architecture{background:#e74c3c}
.schedule_calendar .enable_fashion{background:#d35400}
.schedule_calendar .enable_other{background:#0070d1}
