<div class="footer">
  <div class="container">
    <h1 class="header_logo index_logo"><%= link_to image_tag('logo.png'), :root %></h1>
    <ul class="header_nav">
      <li><%= link_to 'このサイトとは', :terms_statics %></li>
      <li><%= link_to '利用規約', :terms_statics %></li>
      <li><%= link_to 'お問い合わせ', :terms_statics %></li>
    </ul>
    <ul class="header_category">
      <li class="active">デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
      <li>デザイン・イラスト</li>
    </ul>
  </div>
</div>
