<div class="header">
  <div class="container">
    <h1 class="header_logo show_logo"><%= image_tag 'logo.png'%></h1>
    <ul class="header_nav">
      <li>このサイトとは</li>
      <li>利用規約</li>
      <li>お問い合わせ</li>
    </ul>
  </div>
</div>
