<div class="header">
  <nav id="SlidemenuButton" class="header_slidemenu" onclick="_gaq.push(['_trackEvent', 'actions', 'sp', 'open_slidemenu', , true]);"></nav>
  <h1 class="header_logo"><%= link_to image_tag('logo.png'), :root %></h1>
</div>
