<div class="header">
  <div class="container">
    <h1 class="header_logo show_logo"><%= link_to image_tag('logo.png'), :root %></h1>
    <ul class="header_nav">
      <li><%= link_to '登録フォーム', :new_post %></li>
      <li><%= link_to '利用規約', :terms_statics %></li>
      <li><%= link_to 'お問い合わせ', :terms_statics %></li>
    </ul>
  </div>
</div>
