<div class="sidebar">
  <%= link_to image_tag('ios_banner.png'), :root %>
  <%= link_to :new_post, {:target=>"_blank",:class=>"sidebar_submit"} do %>
    フライヤー登録申請はこちら
  <% end %>
  <h3 class="sidebar_title calendar">カレンダーから探す</h3>
  <table class="sidebar_calendar">
    <tr>
    <td colspan="7">2014年12月</td>
    </tr>
    <tr>
    <td>日</td>
    <td>月</td>
    <td>火</td>
    <td>水</td>
    <td>木</td>
    <td>金</td>
    <td>土</td>
    </tr>
    <tr>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    </tr>
    <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    </tr>
    <tr>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
    </tr>
    <tr>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>27</td>
    </tr>
    <tr>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td>31</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
  </table>
  <h3 class="sidebar_title category">カテゴリーから探す</h3>
  <ul class="sidebar_category">
    <li><a href="">イラスト・グラフィック</a></li>
    <li><a href="">建築・インテリア・空間</a></li>
    <li><a href="">プロダクト・パッケージ</a></li>
    <li><a href="">写真・映像・デジタル</a></li>
    <li><a href="">ファッション</a></li>
    <li><a href="">インスタレーション</a></li>
    <li><a href="">セミナー・講演会</a></li>
    <li><a href="">ワークショップ</a></li>
  </ul>
  <ul class="sidebar_banner">
    <li><span>バナー</span></li>
    <li><span>バナー</span></li>
  </ul>
</div>
