<div class="sidebar">
  <%= link_to image_tag('ios_banner.png'), :root %>
  <%= link_to :new_post, {:target=>"_blank",:class=>"sidebar_submit"} do %>
    フライヤー登録申請はこちら
  <% end %>
  <iframe class="sidebar_fb"  src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fartpocket.me&amp;width=277&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=705208482920560" scrolling="no" frameborder="0" style="overflow:hidden; width:277px; height:258px;" allowTransparency="true"></iframe>
  <h3 class="sidebar_title category">カテゴリーから探す</h3>
  <ul class="sidebar_category">
    <li><a href="">イラスト・グラフィック</a></li>
    <li><a href="">建築・インテリア・空間</a></li>
    <li><a href="">プロダクト・パッケージ</a></li>
    <li><a href="">写真・映像・デジタル</a></li>
    <li><a href="">ファッション</a></li>
    <li><a href="">インスタレーション</a></li>
    <li><a href="">セミナー・講演会</a></li>
    <li><a href="">ワークショップ</a></li>
  </ul>
</div>
