<ul class="sidebar">
  <li>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-7183337843978214"
         data-ad-slot="6634443081"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </li>
  <li>
    <iframe class="sidebar_fb"        src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fartpocket.me&amp;width=277&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=705208482920560"
            scrolling="no"
            frameborder="0"
            style="overflow:hidden; width:297px; height:258px;"
            allowTransparency="true">
    </iframe>
  </li>
  <li>
    <a class="twitter-timeline" href="https://twitter.com/artpocket_me" data-widget-id="555687046774153216">@artpocket_meさんのツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
</ul>
