<div class="top">
  <div class="container">
    <h1 class="top_logo"><%= link_to image_tag('logo.png'), :root %></h1>
    <p class="top_description">東海のアートイベントのフライヤー集めました</p>
    <ul class="top_share">
      <li><p>新着フライヤー情報をお届けします!!</p></li>
      <li>
        <%= link_to :terms_statics do %><i class="icon-twitter"></i><% end %>
      </li>
      <li>
        <%= link_to :terms_statics do %><i class="icon-facebook"></i><% end %>
      </li>
    </ul>
  </div>
</div>
