<div class="top">
  <p class="top_description">東海のアートイベントのフライヤー集めました</p>
  <ul class="top_menu">
    <li>
      <%= link_to do %>このサイトとは<% end %>
    </li>
    <li>
      <%= link_to :new_post do %>フライヤー登録<% end %>
    </li>
    <li>
      <%= link_to do %>お問い合わせ<% end %>
    </li>
    <li>
      <%= link_to :terms_statics do %>利用規約<% end %>
    </li>
  </ul>
</div>
