/*
 *= stub active_admin
 *= require_tree .
 *= require_self
 *= require ../main
 */

/**********************************************
* Reset
**********************************************/
h1,h2,h3,h4,h5 {
	margin: 0;
}

a {
	text-decoration: none!important;
	color: #555;
}

p {
	margin: 0;
	color: #555;
	line-height: 1.3em;
	font-size: 16px;
}

img {
	width: 100%;
	border: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

table {
	color: #555;
	font-size: 14px;
	word-wrap: break-word;
}


/**********************************************
* Common
**********************************************/
body {
	font-family: 'futura-pt',YuGothic, '游ゴシック','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
	background: #f6f6f6;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}


/**********************************************
* Header
**********************************************/
.header {
	overflow: hidden;
	z-index: 9999;
	width: 100%;
	height: 44px;
	position: fixed;
	background: #F9C704;
}

.header_logo {
	position: absolute;
	top: 11px;
	left: 50%;
	width: 140px;
	margin: 0 0 0 -70px;
}

.header_logo > a > img {
	display: block;
}


/**********************************************
* Main
**********************************************/
.main {
	overflow: hidden;
	padding-top: 60px;
}

.gotop {
	cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #777;
	border-radius: 4px;
	padding: 10px;
	background: #eee;
	line-height: 1em;
}

.gotop:hover {
	background: #bbb;
}


/**********************************************
* Footer
**********************************************/
.footer {
	background-color: #f6f6f6;
}

.footer_credit {
	padding: 20px 0;
	text-align: center;
	font-size: 12px;
}
