/**********************************************
* Schedule
**********************************************/
.schedule {
	overflow-x: scroll;
	margin: 0 10px 15px;
	border-radius: 3px;
	background: white;
}

.schedule_calendar {
	table-layout: fixed;
	width: 100%;
	margin: 5px 10px;
	font-size: 13px;
}

.schedule_calendar tr {
	height: 20px;
}

.schedule_calendar th, .schedule_calendar td {
	width: 60px;
	border: 1px solid white;
	font-weight: normal;
}

.schedule_calendar th:first-child {
	width: 120px;
}

.schedule_calendar .enable {
	display: block;
	width: 100%;
	height: 8px;
}

.schedule_calendar .enable_graphic{background:#3498db}
.schedule_calendar .enable_media{background:#27ae60}
.schedule_calendar .enable_architecture{background:#e74c3c}
.schedule_calendar .enable_fashion{background:#d35400}
.schedule_calendar .enable_other{background:#f39c12}


/**********************************************
* Index
**********************************************/
.index_text {
	background: white;
	margin: 0 10px 15px;
	padding: 20px 10px;
	text-align: justify;
	border-radius: 3px;
	font-size: 14px;
}

.index_text > a {
	text-decoration: underline;
}

.index_list {
	overflow: hidden;
	margin-left: 10px;
}

.index_list li {
	float: left;
	width: 50%;
}

.index_list li a {
	display: block;
	margin: 0 10px 10px 0;
	padding: 5px;
	border-radius: 3px;
	background: white;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.index_list_thumb {
}

.index_list_thumb img {
	display: block;
}

.index_list li a:hover {
	opacity: 0.7;
}

.index_list_title {
	margin-top: 6px;
	color: #555;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.3em;
}

.index_list_date {
	margin-top: 3px;
	font-size: 12px;
	color: #aaa;
}

.index_list_date i:before {
	font-size:12px;
}

.index_list_date i.icon-map:before {
	font-size:13px;
}

.index_more {
	padding: 10px 0;
	font-size: 16px;
	text-align: center;
	background: #999;
	color: white;
}

/**********************************************
* Show
**********************************************/
.show {
	overflow: hidden;
}

.show > .container {
	width: 980px;
}

.show_sp_head {
	margin: 0 10px 15px 10px;
}

.show_sp_head_title {
	line-height: 1.3em;
	color: #555;
	font-size: 18px;
	font-weight: bold;
}

.show_sp_head_data {
	margin-top: 3px;
	font-size: 13px;
	color: #aaa;
}

.show_left {
	overflow: hidden;
}

.show_left_picts {
	overflow: hidden;
	width: 9999px;
}

.show_left_picts li {
	display: block;
	float: left;
	margin: 0 5px;
	padding: 5px;
	border-radius: 3px;
	background: white;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.show_left_picts li:last-child {
	margin-bottom: 0;
}

.show_left_picts li img {
	display: block;
}

.show_slide_nav {
	display: block;
	margin: 5px 0 10px;
	overflow: hidden;
	text-align: center;
}

.show_slide_nav li {
	cursor: pointer;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	background: white;
	border: 1px solid #eee;
	border-radius: 50%;
}

.show_slide_nav li.active {
	background: #555;
}

.show_right {
	margin: 0 10px;
}

.show_right_sns {
	overflow: hidden;
	margin-bottom: 10px;
}

.show_right_sns li {
	cursor: pointer;
	float: left;
	width: 49%;
	padding: 10px 0;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 14px;
}

.show_right_sns li a {
	color: white;
}

.show_right_sns li i {
	padding: 0 5px 0 20px;
	position: relative;
	top: 2px;
}

.show_right_sns li i:before {
	font-size: 20px;
}

.show_right_sns.facebook {
	background: #3468af;
	margin-right: 2%;
}

.show_right_sns.twitter {
	background: #55acee;
}

.show_right_body {
	margin-bottom: 10px;
	line-height: 1.6em;
	text-align: justify;
}

.show_right_info {
	table-layout: fixed;
	width: 100%;
	margin-top: 30px;
}

.show_right_info tr {
	padding-bottom: 10px;
	margin-bottom: 14px;
	display: block;
	text-align: left;
	border-bottom: 1px solid #eaeaea;
}

.show_right_info th {
	padding: 1px 4px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4em;
	background: #555;
	color: white;
	border-radius: 2px;
}

.show_right_info td {
	display: block;
	margin-top: 5px;
	line-height: 1.4em;
}

.show_right_info td > a {
	color: #2571BB;
}

.show_right_calendar {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_calendar tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_calendar th {
	width: 110px;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}

.show_right_calendar td {
	width: 365px;
	padding: 10px 5px 10px 0;
	border-bottom: 1px solid #eaeaea;
}

.show_bottom_map {
	margin-top: 40px;
}

/**********************************************
* New
**********************************************/
.new {
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #eee;
}

.new_title {
	margin-bottom: 20px;
	padding-top: 6px;
	font-size: 22px;
	font-weight: normal;
	border-top: 2px solid #F9C704;
	color: #F9C704;
}

.form {
	width: 100%;
}

.form tr {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 20px;
}

.form_left {
	width: 180px;
	vertical-align: top;
	font-weight: bold;
}

.form_left p {
	text-align: left;
}

.form_left_tag {
	margin-right: 5px;
	padding: 5px 10px;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_left_tag.required {
	background: #EC4550;
}

.form_left_tag.free {
	background: #488DB8;
}

.form_center {
	vertical-align: top;
}

.form_uploads li {
	float: left;
	width: 135px;
	padding: 5px;
	background: #f5f5f5;
}

.form_radio li {
	float: left;
	width: 193px;
	margin-bottom: 3px;
}

.form_center_text {
	font-size: 13px;
}

.form_right {
	width: 0px;
}

.form_text {
	width: 550px;
	max-width: 550px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date {
	float: left;
	width: 248px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date_span {
	float: left;
	margin: 10px 3px;
}

.form_date_text {
	clear: both;
}

.form_time {
	width: 220px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	width: 250px;
	max-width: 250px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_free {
	float: left;
	width: 180px;
	margin: 9px 0;
}

.form_free > input {
	margin-right: 10px;
}

.form_free span {
	margin: 0 60px;
}

.form_input_charge {
	width: 200px;
	margin-right: 5px;
}

.form_check {
	margin-right: 10px;
}

.form_check_link {
	color: #0092ED;
}

.form_submit {
	display: block;
	width: 500px;
	margin: 20px auto 40px auto;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_submit.active {
	cursor: pointer;
	background: #EC4550;
}

.confirm_cancel {
	cursor: pointer;
	float: left;
	display: block;
	width: 200px;
	margin: 20px auto 40px 35px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.confirm_submit {
	cursor: pointer;
	float: left;
	display: block;
	width: 550px;
	margin: 20px auto 40px 30px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #EC4550;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/**********************************************
* Complete
**********************************************/
.posts_complete {
	padding: 140px 0;
}
.posts_complete_title {
	font-size: 50px;
	text-align: center;
	color: #1f2e3f;
}

.posts_complete_border {
	display: block;
	width: 500px;
	margin: 20px auto 40px;
}

.posts_complete_text {
	text-align: center;
}
