/**********************************************
* Common
**********************************************/
.static {
  margin: 0 20px;
  text-align: justify;
}

.static_section {
  margin-bottom: 40px;
}

.static_section_title {
  margin-bottom: 20px;
  padding-top: 6px;
  font-size: 22px;
  font-weight: normal;
}


/**********************************************
* About
**********************************************/
.about > p {
  margin-bottom: 1em;
  line-height: 1.4em;
}


/**********************************************
* Terms
**********************************************/
.terms > li {
  list-style: decimal;
  margin: 20px 0 20px -16px;
  font-size: 16px;
}

.terms >li > h3 {
  font-size: 16px;
}

.terms >li > ol {
  margin: 10px 0 0 -16px;
}

.terms >li > ol > li {
  list-style: decimal;
  line-height: 1.3em;
  margin-bottom: 10px;
  color: #555;
}


/**********************************************
* Contact
**********************************************/
