<div class="static">
  <div class="static_section">
    <h3 class="static_section_title">アートポケットについて</h3>
    <div class="about">
      <p>アートポケットは、東海の素敵なイベントのフライヤーを集めたwebサイトです。
        「イラスト・グラフィック」「写真・映像・メディア」・「建築・インテリア」「ファッション・クラフト」と
        さまざまなジャンルのイベントや展示会が掲載されています。
      </p>
      <p>どれだけ素敵な場所や良質な物であっても
        それを伝達しない限り、人に知ってもらうことはできません。
        誰にも知られなければ、どれだけいいものであっても残っていくことができません。
      </p>
      <p>
        アートポケットを通じて、東海のアートイベントをもっと盛んに。
        今までイベントに行ったことがない方には、アートをもっと身近に。
        このサイトを通じて、多くの方が素敵なイベントに出会えるよう願っています。
      </p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">フライヤー掲載について</h3>
    <div class="about">
      <p>
        このサイトへのイベント情報掲載は無料です。
        イベントHPの代用・告知・集客に、ぜひ当サイトをご利用ください。
        イベント登録はフォームよりお願いいたします。
      </p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">広告掲載について</h3>
    <div class="about">
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">運営について</h3>
    <div class="about">
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
    </div>
  </div>
</div>
