<div class="static">
  <div class="static_section">
    <h3 class="static_section_title">アートポケットについて</h3>
    <div class="about">
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">運営について</h3>
    <div class="about">
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">フライヤー掲載について</h3>
    <div class="about">
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
    </div>
  </div>
  <div class="static_section">
    <h3 class="static_section_title">広告掲載について</h3>
    <div class="about">
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
      <p>ご利用になるチーム名を申請の上、利用承認メールが来るまでしばらくお待ち下さい。みなさまの安定した利用のため、一時的に新規登録に制限をかけることがあり、申請から数日〜数週間お待ちいただく場合がありますが、ご了承ください。</p>
    </div>
  </div>
</div>
