<% set_meta_tags({
title: 'お問い合わせ',
og: {
  type: 'article',
},
})%>

<div class="static">
  <div class="static_section">
    <h3 class="static_section_title">お問い合わせ</h3>
    <div class="contact">
      <p>お問い合わせは、support(at)artpocket.meまでお願いします。</p>
    </div>
  </div>
</div>
