<h3 class="main_right_title">利用規約</h3> <p>（以下「弊団体」とします）は、「アートポケット（以下「本アプリ」とします）への情報掲載に関し、弊団体とイベント主催者（定義にて内容を記載します）に適用される規約（以下「本規約」とします）を以下の通り定めます。又、本アプリをスマートデバイスにインストールし、利用するすべての者は，以下の利用規約に同意したものとみなします。　未成年の利用者は， 保護者の同意に基づいて本サイトをご利用ください。</p>
  <ul class="terms">
    <li>
      <h3 class="tems_title">定義</h3>
      <ol class="terms_ol">
        <li>本アプリ-作品展覧会、美術館又はワークショップのチラシ画像・開催情報等（以下「イベント情報」とします）をスマートフォン及びタブレット端末（以下「スマートデバイス」とします）向けに、弊団体が提供するアプリケーション</li>
        <li>イベント主催者-本アプリに情報を掲載する展覧会等を運営する主催者及びワークショップを行う運営者又は主催者から委託を受けた者。登録したイベント内容について責任を持ち、イベントを開催できる者。</li>
        <li>利用者-本アプリをスマートデバイスにインストールし、利用する者。</li>
        <li>管理システム-本アプリにイベントの情報を載せるイベント主催者向けシステム。利用には登録が必要です。このシステムでイベントを登録・修正・削除できますが、幣団体でもイベントの登録・修正・削除が行えるものとします。利用を希望する者は、弊団体が指定する方法で申込みを行うものとします。</li>
      </ol>
    </li>
    <li>
      <h3 class="tems_title">イベント主催者の条件</h3>
      <p>管理システムを利用するイベント主催者は、下記の権限を有する事を証明できる者かつ幣団体が許可した者のみとします。下記は、条件の内容の一部です。</p>
      <ol class="terms_ol">
        <li>本アプリを用いてイベント情報を利用者に提供することによって、著作権、肖像権その他の第三者の権利を一切侵害することはないこと。</li>
        <li>利用登録のためにイベント主催者が入力した情報又は弊団体に提出した資料が全て真実で、自己がイベント情報を公に提供できる権限を有する者であること。</li>
        <li>下記に記載する禁止事項を行っていないこと。イベントの登録要件を満たしていること。</li>
      </ol>
    </li>
    <li>
      <h3 class="tems_title">利用登録</h3>
      <ol class="terms_ol">
        <li>利用登録では登録フォームの必須項目・任意項目（以下「主催者情報」）を誤りのないよう正確に入力し、本規約の内容を確認した上で弊団体へ送信する必要があります。弊団体はイベント主催者の登録内容を審査し、承諾及び登録完了後ご連絡します。なお、審査にあたり、弊社はイベント主催者に対して資料の提出を要求する場合があり、その場合、イベント主催者は応じるものとします。審査の結果、弊団体はその理由を挙げることなく利用をお断りする場合があります。</li>
        <li>審査の結果、弊団体が利用をお断りした場合又は既に掲載システムを利用されている場合においても、弊団体が管理システムの利用を停止した場合、イベント主催者に損害又は不利益が生じたとしても、弊社は一切その補償を行いません。</li>
        <li>弊団体は事前の通知なしに、イベント主催者の管理システムの利用を停止する場合があります。なお、イベント主催者に損害又は不利益が生じたとしても、弊団体は一切その補償を行いません。</li>
        <li>主催者情報の内容に変更がある場合、イベント主催者は直ちに管理システムにおいて変更をしなければなりません。</li>
        <li>管理システムの利用料は無料とします。ただし、告知なく利用料を変更する場合があります。</li>
      </ol>
    </li>
    <li>
      <h3 class="tems_title">主催者情報</h3>
      <ol class="terms_ol">
        <li>イベント主催者は、主催者情報を管理する責任を負うものとします。</li>
        <li>イベント主催者は、電子メールアドレスやパスワードを第三者に利用、貸与、譲渡、質入してはならず、偽名登録してはならないものとします。</li>
        <li>パスワードの取扱いに関して、生じたすべての損害の責任はイベント主催者が負うものとし、弊社は一切責任を負わないものとします。</li>
        <li>イベント主催者は、パスワードが漏洩、公開または第三者に使用されていることが判明した場合は、直ちに弊団体へその旨連絡する義務があり、弊団体の指示に従う必要があります。</li>
      </ol>
    </li>
    <li>
      <h3>イベント情報の登録と管理</h3>
      <ol class="terms_ol">
        <li>利用者は、権利者の許諾を得ないで、いかなる方法においても、本アプリを通じて提供されるイベント情報について、著作権法等で定める利用者個人の私的利用の範囲を超えて、使用することはできないものとします。但し、本アプリ内においてFacebook、twitter等の外部Webサイトにイベント情報を転用する機能（以下「シェア機能」とします）に限り、イベント主催者の許可を受けたものとします。本アプリに掲載されたチラシ画像等を複製又は複写して外部Webサイトに掲載する場合はこれにあたりません。</li>
        <li>クーポンや割引・料金や時間に関する情報には有効期限、提示場所、提供内容、注意事項を入力する必要があります。なお、クーポン利用に関する利用者とのトラブルについて、弊団体は一切の責任を負いません。</li>
        <li>イベントの中止・延期・内容変更が発生した場合、イベント主催者は直ちにイベント情報を変更するものとします。イベントの中止・延期・内容変更によるいかなる苦情等も、イベント主催者の責任により解決するものとし、万一弊団体に損害が生じた場合には、イベント主催者は当該損害（合理的な弁護士費用、弊社従業員等の事務負担分の労務費用を含む）を賠償しなければならないものとします。</li>
        <li>幣団体は<strong>登録されたイベント情報を、弊団体及び弊団体が許諾する第三者が運営する媒体に対し、事前承諾なしに掲載等することができるものとします。</strong>又、本アプリのプロモーション等を目的として、イベント主催者が提供するイベント情報を本サービスその他のメディアで無償使用できるものとします。ただし弊団体がこれらの情報を利用した結果、弊団体が第三者から著作権侵害その他の理由でクレーム、請求等を受けた場合、弊団体は、弊社が被った損害（合理的な弁護士費用を含む）をイベント主催者に請求できるものとします。</li>
      </ol>
    </li>
    <li>
      <h3 class="tems_title">イベント情報の公開停止</h3>
      <p>イベント情報の場合、時期を問わず、弊団体はイベント情報の掲載を停止することがあります。また、弊団体は停止した理由についてイベント主催者に対して通知を行う義務を負いません。イベント主催者が弊団体及び第三者に損害を及ぼした場合、イベント主催者が当該損害を賠償する責任を負うものとし、弊団体が第三者から請求、訴えの提起等を受け、弊団体が損害を被った場合は、その損害（合理的な弁護士費用を含む）を補償するものとします。</p>
    </li>
    <li>
      <h3 class="tems_title">管理システムの利用停止・禁止事項・情報開示</h3>
      <ol class="terms_ol">
        <li>弊団体はイベント主催者の行動が幣団体の管理する本アプリに支障がきたすと判断した場合、直ちに管理システムの利用を停止することができるものとします。なお、管理システム利用停止理由はイベント主催者に対して通知を行う義務を負いません。</li>
        <li>弊団体は、告知なく管理システムの提供を中止することがあります。提供中止の場合、弊団体は一切の責任を負わないものとします。</li>
        <li>掲載システムの利用にあたり、弊団体はイベント主催者に対し、「法令違反・誹謗中傷・権利侵害・利益侵害・犯罪・虚偽・サーバー攻撃、またはすべての行為になるおそれ」というすべての行為を禁止します。また、同行為を行っているサイトへリンクを張る・当該行為を誘引するまたは結果として同等となることを含みます。以下に抵触した場合は、早急に管理システム利用停止措置を取ります。その際、イベント主催者は異議を申し述べないものとします。</li>
        <li>弊団体はイベント主催者の禁止事項を発見した時、登録した情報・利用履歴・メールの内容などの確認を行い、それらの情報を第三者に開示することがあります。その場合、イベント主催者は弊団体または情報の開示先について、一切のクレーム、損害賠償請求等を行わないものとします。</li>
      </ol>
    </li>
    <li>
      <h3 class="tems_title">損害賠償</h3>
      <p>イベント主催者は、イベント主催者が本規約または法令の定めに違反したことにより、弊団体および第三者に損害を及ぼした場合、当該損害を賠償する責任を負うものとし、弊団体が第三者から請求、訴えの提起等を受け、弊団体が損害を被った場合には、その損害（合理的な弁護士費用を含む）を補償するものとします。</p>
    </li>
    <li>
      <h3 class="tems_title">規約の変更・規定外事項</h3>
      <ol class="terms_ol">
        <li>弊団体はイベント主催者の了解を得ることなく本規約を変更することがあります。この場合に、本サービスの利用条件は、変更後の規約によるものとします。 変更後の規約は、弊団体が別途定める場合を除き、弊団体のサイト上に表示した時点より、効力を生じるものとします。</li>
        <li>本契約（個別契約を含む）に定めのない事項または、その解釈について疑義の生じた場合には、イベント主催者・弊団体協議のうえ定めるものとします。</li>
      </ol>
    </li>
  </ul>
  <p>※本規約は2014年12月1日午前0時より実施。</p>
