<<% set_meta_tags({
title: 'フライヤー登録申請完了',
og: {
  type: 'website',
},
})%>

div class="posts_complete">
  <h2 class="posts_complete_title">申請ありがとうございました</h2>
  <%= image_tag('border.png', {:class=>'posts_complete_border'}) %>
  <p class="posts_complete_text">ご登録頂いたメールアドレス宛にメールを送信しましたのでご確認ください。<br>
  審査完了まで現在、最大で24時間いただいております。<br>
  レポートページは現在制作中です。</p>
</div>
