/*
 *= require_tree .
 *= require_self
 */

 html {
 }

.container {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  margin: 0;
  background: url("../images/bg.png") repeat;
  font-family: 'futura-pt',YuGothic, '游ゴシック','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

p {
  margin: 0;
  color: #555;
  font-size: 15px;
  //-webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

table {
  width: 100%;
  color: #555;
  font-size: 14px;
  word-wrap: break-word;
}

.clear {
  clear: both;
}

/* Header */

.header {
  background: white;
  margin-bottom: 30px;
}

.header_logo {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.header_logo img {
  width: 300px;
}

.header_nav {
  position: absolute;
  right: 60px;
  top: 5px;
}

.header_nav li {
  float: left;
  margin-left: 20px;
  font-size: 14px;
}

.header_category {
  overflow: hidden;
  margin: 30px 0;
  padding: 12px 0;
}

.header_category li {
  float: left;
  margin: 0 15px;
  color: #999;
  line-height: 1.2em;
}

/* Footer */
.footer {
  background: white;
}
