/*
 *= require_tree .
 *= require_self
 */

/**********************************************
* Reset
**********************************************/
h1,h2,h3,h4,h5 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #555;
}

p {
	margin: 0;
	color: #555;
	font-size: 16px;
}

img {
	width: 100%;
	border: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

table {
	width: 100%;
	color: #555;
	font-size: 14px;
	word-wrap: break-word;
}


/**********************************************
* Common
**********************************************/
body {
	border-top: 10px solid #ffcb2e;
	font-family: 'futura-pt',YuGothic, '游ゴシック','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


/**********************************************
* Header
**********************************************/
.header {
	overflow: hidden;
	margin-bottom: 30px;
}

.header_logo {
	float: left;
	width: 300px;
}

.header_logo > a {
	display: block;
	padding: 30px 25px 0 0;
}

.header_menu {
	float: left;
	border-right: 1px solid #eee;
}

.header_menu > li {
	float: left;
	width: 140px;
	height: 100px;
	border-left: 1px solid #eee;
}

.header_menu > li > a {
	display: block;
	padding: 35px 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.header_menu > li > a:hover {
	color: #bbb;
}

.header_menu > li > a > i {
	display: block;
	font-size: 22px;
}

.header_appstore {
	float: left;
	width: 150px;
	margin: 20px 0 0 20px;
}


/**********************************************
* Main
**********************************************/
.main {
	clear: both;
	overflow: hidden;
	margin-bottom: 80px;
}

.main_gotop {
	cursor: pointer;
	position: fixed;
	right: 40px;
	bottom: 40px;
	color: #777;
	background: white;
	font-size: 38px;
	border: 3px solid #777;
	border-radius: 2px;
}


/**********************************************
* Footer
**********************************************/
.footer {
	height: 200px;
	background: #eee;
}

.footer_credit {
	text-align: center;
	font-size: 12px;
}
