/*
 *= require_tree .
 *= require_self
 */

/**********************************************
* Reset
**********************************************/
h1,h2,h3,h4,h5 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #555;
}

p {
	margin: 0;
	color: #555;
	font-size: 16px;
}

img {
	width: 100%;
	border: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

table {
	width: 100%;
	color: #555;
	font-size: 14px;
	word-wrap: break-word;
}


/**********************************************
* Common
**********************************************/
body {
	background: #f7f7f7;
	font-family: 'futura-pt',YuGothic, '游ゴシック','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


/**********************************************
* Header
**********************************************/
.header {
	overflow: hidden;
	margin-bottom: 20px;
	background: white;
	border-top: 10px solid  #ffcb2e;
}

.header_description {
	float: left;
	position: relative;
	top: 50px;
	font-size: 16px;
	color: #555;
}

.header_menu {
	float: right;
	position: relative;
	top: 48px;
}

.header_menu > li {
	float: left;
	margin-left: 15px;
}

.header_menu > li:first-child {
	border-left: none;
}

.header_menu > li > a {
	font-size: 14px;
	color: #999;
}

.header_menu > li > a:hover {
	opacity: 0.5;
}

.header_logo {
	width: 320px;
	margin: 40px auto 20px auto;
}


/**********************************************
* Main
**********************************************/
.main {
	clear: both;
	overflow: hidden;
	margin-bottom: 80px;
}

.main_gotop {
	cursor: pointer;
	position: fixed;
	right: 40px;
	bottom: 40px;
	color: #777;
	background: white;
	font-size: 38px;
	border: 3px solid #777;
	border-radius: 2px;
}


/**********************************************
* Footer
**********************************************/
.footer {
	height: 20px;
}

.footer_credit {
	text-align: center;
	font-size: 12px;
}
