/**********************************************
* Post#index
**********************************************/


/**********************************************
* Post#show
**********************************************/
.show {
	overflow: hidden;
}

.show_left {
	float: left;
	width: 475px;
	margin-right: 30px;
}

.show_right_wrap {
	float: right;
	width: 415px;
}

.show_right {
	width: 415px;
	position: static;
	top: 0;
}

.show_left_picts li {
	margin-bottom: 10px;
}

.show_right_title {
	color: #555;
	font-size: 30px;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0 0 25px;
}

.show_right_sns {
	display: block;
	overflow: hidden;
}

.show_right_sns li {
	float: left;
	margin-right: 10px;
}

.show_right_body {
	margin: 15px 0 20px;
}

.show_right_info {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_info tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_info th {
	width: 110px;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}

.show_right_info td {
	width: 365px;
	padding: 10px 5px 10px 0;
	border-bottom: 1px solid #eaeaea;
}



.show_right_calendar {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_calendar tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_calendar th {
	width: 110px;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}

.show_right_calendar td {
	width: 365px;
	padding: 10px 5px 10px 0;
	border-bottom: 1px solid #eaeaea;
}

.show_bottom_map {
	margin: 40px 0;
}

/**********************************************
* Post#new
**********************************************/
.new_post {
	padding: 40px 0 80px 0;
}

.form_logo img {
	display: block;
	width: 260px;
	margin: 0 auto 40px auto;
}

.form_container {
	background: white;
	box-shadow: 0 0 5px #ddd;
}

.form {
	width: 940px;
	margin: 20px;
}

.form tr {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}

.form_left {
	width: 200px;
	vertical-align: top;
	font-weight: bold;
}

.form_left p {
	padding-left: 10px;
}

.form_left_tag {
	margin-right: 5px;
	padding: 5px 10px;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_left_tag.required {
	background: #EC4550;
}

.form_left_tag.free {
	background: #488DB8;
}

.form_center {
	width: 580px;
	vertical-align: top;
}

.form_uploads li {
	float: left;
	width: 135px;
	padding: 5px;
	background: #f5f5f5;
}

.form_radio li {
	float: left;
	width: 193px;
	margin-bottom: 3px;
}

.form_center_text {
	font-size: 13px;
}

.form_right {
	width: 100px;
	vertical-align: top;
}

.form_text {
	width: 550px;
	max-width: 550px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date {
	float: left;
	width: 248px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date_span {
	float: left;
	margin: 10px 3px;
}

.form_date_text {
	clear: both;
}

.form_time {
	width: 220px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	width: 250px;
	max-width: 250px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_free {
	float: left;
	width: 180px;
	margin: 9px 0;
}

.form_free span {
	margin: 0 60px;
}

.form_input_charge {
	width: 200px;
	margin-right: 5px;
}

.form_submit {
	display: block;
	width: 550px;
	margin: 20px auto 40px auto;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_submit.active {
	cursor: pointer;
	background: #EC4550;
}

.confirm {
	padding: 40px 0 80px 0;
}

.confirm_cancel {
	cursor: pointer;
	float: left;
	display: block;
	width: 250px;
	margin: 20px auto 40px 80px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.confirm_submit {
	cursor: pointer;
	float: left;
	display: block;
	width: 550px;
	margin: 20px auto 40px 30px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #EC4550;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
