/**********************************************
* Post#index
**********************************************/


/**********************************************
* Post#show
**********************************************/
.show {
	overflow: hidden;
}

.show_left {
	float: left;
	width: 475px;
	margin-right: 30px;
}

.show_right {
	float: right;
	width: 415px;
	position: static;
	top: 0;
}

.show_left_picts li {
	margin-bottom: 10px;
}

.show_right_title {
	color: #555;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0 0 25px;
}

.show_right_sns {
	margin-bottom: 25px;
}

.show_right_sns li {
	cursor: pointer;
	float: left;
	width: 200px;
	padding-bottom: 8px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	color: white;
	font-size: 16px;
}

.show_right_sns li:hover {
	opacity: 0.6;
}

.show_right_sns li i {
	padding: 0 10px 0 20px;
	font-size: 34px;
	position: relative;
	top: 7px;
}

.show_right_sns.facebook {
	background: #3468af;
	margin-right: 15px;
}

.show_right_sns.twitter {
	background: #55acee;
}

.show_right_body {
	margin-bottom: 20px;
}

.show_right_info {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_info tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_info th {
	width: 110px;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}

.show_right_info td {
	width: 365px;
	padding: 10px 5px 10px 0;
	border-bottom: 1px solid #eaeaea;
	font-size: 15px;
}

.show_right_calendar {
	table-layout: fixed;
	border-top: 1px solid #eee;
}

.show_right_calendar tr {
	vertical-align: middle;
	text-align: left;
}

.show_right_calendar th {
	width: 110px;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}

.show_right_calendar td {
	width: 365px;
	padding: 10px 5px 10px 0;
	border-bottom: 1px solid #eaeaea;
}

.show_bottom_map {
	margin-top: 40px;
}

/**********************************************
* Post#new
**********************************************/
.form_logo {
	margin: 60px 0 40px;
}

.form_logo img {
	display: block;
	width: 280px;
	margin: 0 auto;
}

.form_container {
	background: rgba(255,255,255,0.9);
	border-radius: 4px;
}

.form {
}

.form tr {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 20px;
}

.form_left {
	width: 180px;
	vertical-align: top;
	font-weight: bold;
}

.form_left p {
	text-align: left;
}

.form_left_tag {
	margin-right: 5px;
	padding: 5px 10px;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_left_tag.required {
	background: #EC4550;
}

.form_left_tag.free {
	background: #488DB8;
}

.form_center {
	width: 600px;
	vertical-align: top;
}

.form_uploads li {
	float: left;
	width: 135px;
	padding: 5px;
	background: #f5f5f5;
}

.form_radio li {
	float: left;
	width: 193px;
	margin-bottom: 3px;
}

.form_center_text {
	font-size: 13px;
}

.form_right {
	width: 0px;
}

.form_text {
	width: 550px;
	max-width: 550px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date {
	float: left;
	width: 248px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_date_span {
	float: left;
	margin: 10px 3px;
}

.form_date_text {
	clear: both;
}

.form_time {
	width: 220px;
	max-width: 220px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	outline: none;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	width: 250px;
	max-width: 250px;
	padding: 14px 14px;
	font-size: 16px;
	color: #4C4948;
	border: 0px;
	background: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_free {
	float: left;
	width: 180px;
	margin: 9px 0;
}

.form_free > input {
	margin-right: 10px;
}

.form_free span {
	margin: 0 60px;
}

.form_input_charge {
	width: 200px;
	margin-right: 5px;
}

.form_check {
	margin-right: 10px;
}

.form_check_link {
	color: #0092ED;
}

.form_submit {
	display: block;
	width: 500px;
	margin: 20px auto 40px auto;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form_submit.active {
	cursor: pointer;
	background: #EC4550;
}

.confirm_cancel {
	cursor: pointer;
	float: left;
	display: block;
	width: 250px;
	margin: 20px auto 40px 35px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.confirm_submit {
	cursor: pointer;
	float: left;
	display: block;
	width: 550px;
	margin: 20px auto 40px 30px;
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #EC4550;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/**********************************************
* Post#complete
**********************************************/
.posts_complete {
	padding: 140px 0;
}
.posts_complete_title {
	font-size: 50px;
	text-align: center;
	color: #1f2e3f;
}

.posts_complete_border {
	display: block;
	width: 500px;
	margin: 20px auto 40px;
}

.posts_complete_text {
	text-align: center;
}
