/* statics */
.statics_title {
  font-size: 24px;
}

/* statics#terms */
.terms > li {
  list-style: decimal;
  margin: 0 0 2px 25px;
  padding: 20px 0;
}

.tems_title {
  font-size: 20px;
}

.terms_ol {
  margin-left: -50px;
}

.terms_ol > li {
  list-style: decimal;
  margin: 0 0 2px 2em;
  color: #555;
}
